*{
    margin: 0;
    font-family: sans-serif;
}
.section1{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
}
.sec1mlue{
    font-weight: 600;
    font-size: 32px;
    color: #192252;
}
.rooma{
    display: flex;
    width: 273px;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #192252;
}
.section1 button{
    border: none;
    background-color: #0E1734;
    color: white;
    width: 121px;
    height: 47px;
    border-radius: 4px;
}
.section2{
    width: 100%;
    height: 845px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.sec2naure{
    width: 587px;
    height: 332px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.p1{
    font-weight: 600;
    font-size: 48px;
    color: #192252;
    line-height: 150%;
}
.p2{
    font-weight: 400;
    font-size: 18px;
    color: #848FAC;
    text-align: justify;
}
.section2 button{
    border: none;
    background-color: #0E1734;
    color: white;
    width: 156px;
    height: 51px;
    border-radius: 4px;
    margin-top: 10px;
}
.section2 button:hover{
    background-color: white;
    border: 2px solid grey;
    color: black;
}
.section2 img{
    width: 540px;
    height: 588px;
}
.section3{
    width: 1200px;
    height: 576px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section3 img{
    width: 384px;
    height: 576px;
}
.sec3naure{
    width: 690px;
    height: 366px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sec3naure button{
         border: none;
    background-color: #0E1734;
    color: white;
    width: 151px;
    height: 51px;
    border-radius: 4px;
    margin-top: 10px;
}
.sec3naure button:hover{
    background-color: white;
    border: 2px solid grey;
    color: black;
}
.section4{
    width: 1094px;
    height: 384px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section4 img{
    width: 384px;
    height: 384px;
}
.sec4naure{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.section5 {
    width: 100%;
    height: 1176px;
}
.manysec5{
    font-weight: 600;
    font-size: 36px;
    color: #192252;
    text-align: center;
    margin-top: 80px;

}
.mmmamamammammammamma{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    color: #848FAC;
}
.section5 button{
         border: none;
    background-color: #0E1734;
    color: white;
    width: 165px;
    height: 51px;
    border-radius: 4px;
    margin: auto;
    display: block;
    margin-top: 32px;
}
.pppppspsppspsp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    margin-top: 88px;
}
.ciiit{
    height: 600px;
    width: 32%;
}
.ciiit{
    width: 384px;
    height: 489px;
    display: flex;
    flex-direction:column ;
    row-gap: 20px;
}
.sing{
    font-weight: 600;
    font-size: 24px;
}
.mm0e{
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    color: #424F7B;
    display: flex;
    align-items: center;
}
.section6{
    width: 1202px;
    height: 436px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pod1{
    width: 407px;
    height: 278px;

}
.starts{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
}
.myroiom{
font-weight: 600;
font-size: 36px;
margin-bottom: 24px;
}
.bbbbtm{
     border: none;
    background-color: #0E1734;
    color: white;
    width: 148px;
    height: 51px;
    border-radius: 4px;
    margin-top: 10px;
    margin-top: 32px;
}
.bbbbtm:hover{
    background-color: white;
    border: 2px solid grey;
    color: black;
        
}
.sadksajdsalkdjaslkda{
    border: none;
    background-color: transparent;
    color: black;
    width: 148px;
    height: 51px;
    border-radius: 4px;
    margin-top: 10px;
    margin-top: 32px;
}
.pod2{
    width: 588px;
    height: 436px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}
.podpod{
    width: 588px;
    height: 100px;
        display: flex;
    align-items: center;   
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.267);
}
.podpod1{
    width: 588px;
    height: 188px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border-radius: 6px;
        display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.267);
}
.podpod2{
    width: 588px;
    height: 100px;
    border-radius: 6px;

     box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.267);
}
.pchoose{
    font-weight: 600;
    font-size: 24px;
    margin-left: 36px;
}
.section7{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 627px;
}
.section7 img{
    margin-top: 62px;
    margin-bottom: 44px;
}
.p3{
    font-weight: 500;
    font-size: 20px;
    color: #192252;
    margin-top: 40px;
}
.p11{
    font-weight: 600;
    font-size: 36px;
    color: #192252;
}
.section8{
    width: 100%;
    height: 400px;
    background-color: #0B265A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.fbl1{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}
.fsoc{
    display: flex;
    gap: 16px;
    margin-top: 30px;
}
.fcol{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.fsh{
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-bottom: 4px;
}